<div class="contact-container">
  <div class="address-info">
    <h1>Skontaktuj się z nami:</h1>
    <p>ul. Malczewskiego 1, Kraków, 99-999 Polska</p>
    <p>tel: 123 456 789</p>
    <p>e-mail: pet-hotel@gmail.com</p>

    <div class="map-container">
    <img src="/assets/map.png" alt="Map Screenshot" class="rounded-map">
  </div>
  </div>
  </div>  
  
