<div class="employee-profile">
  <div class="profile-header">
    <!-- Replace 'employee_photo.jpg' with the employee's photo -->
    <img src="<%= asset_path('profile.jpg') %>" alt="Employee Photo" class="profile-photo">
    <h1>Jan Nowak</h1>
    <p>Opiekun / Behawiorysta</p>
  </div>

  <div class="profile-description">
    <h2>O mnie</h2>
    <p>Moim zamiłowaniem od dzieciństwa była opieka nad zwierzakami. Pracując jako opiekun hotelu dla psów przykładam ogromną wiedzę i pasję połączoną z doświadczeniem
        tak aby pobyt państwa psa odbył się w jak najlepszym komforcie</p>
    <!-- Add more description content as needed -->
  </div>
</div>
