<div class="price-lists">
  <h2>Cennik</h2>
  <div class="list-container">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">Doba</li>
  <li class="list-group-item">50 zł</li>
  
</ul>
<ul class="list-group list-group-horizontal-sm">
  <li class="list-group-item">Tydzień pobytu</li>
  <li class="list-group-item">300 zł</li>
  
</ul>
<ul class="list-group list-group-horizontal-md">
  <li class="list-group-item">Miesiąc pobytu</li>
  <li class="list-group-item">1400 zł</li>
  
</ul>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item">Strzyżenie</li>
  <li class="list-group-item">100 zł</li>
  
</ul>
<ul class="list-group list-group-horizontal-xl">
  <li class="list-group-item">Dodatkowe spacery</li>
  <li class="list-group-item">50 zł / spacer</li>
  
</ul>
<ul class="list-group list-group-horizontal-xxl">
  <li class="list-group-item">Lekcja wychowawcza</li>
  <li class="list-group-item">150 zł / lekcję</li>
  
</ul>

</div>
</div>