@import "bootstrap";

.navbar {

    background-color: rgb(25, 168, 25) !important;
}

.nav-link {
    color: white !important;
}

.jumbotron {
    background-image: asset-url('Jumbo_copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    border-radius: .5rem;
}

#logo {
    float: left;
    font-size: 1cm;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}